* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: white;
    display: flex;
    flex-direction: column; /* Xếp các phần tử theo cột */
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc */
    text-align: center; /* Căn giữa chữ */
}

.header img
{
    width: 290px;
    height: 150px;
}
